.App {
  width: 100%;
  background-color: #B0BEC5;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #000;
  &__wrapper{
    flex: 1;
    position: relative;
    padding: 20px 30px;
    justify-content: space-between;
  }

  &__enable-location{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fffff1;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
}

.flex{
  display: flex;
  flex-direction: column;
}